<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta charset="utf-8" />
    <title>このサイトについて</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        font-family: system-ui, sans-serif;
        background: #0f172a;
        color: #e5e7eb;
        padding: 20px;
      }
      a {
        color: #38bdf8;
      }
      h1 {
        text-align: center;
        font-size: 24px;
      }
      .wrapper {
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.8;
      }
    </style>
  </head>
  <body>
    <h1>このサイトについて</h1>
    <div class="wrapper">
      <p>
        このサイトは、バーチャルユーチューバーのぽんぽこさんとピーナッツくんの「名言」を動画サムネイルと一緒に一覧表示する
        個人ファンプロジェクトです
      </p>
      <p>
        名言リストは手作業で追加しており、プルリクエストで更新されています<br />
        改善アイデアや名言の追加リクエストがあれば、GitHubで受け付けています
      </p>
      <p>
        ご本人様にご迷惑がかかることは徹底的に避けたく、あくまで布教兼応援用のサイトとなっておりますので、不適切というご指摘をいただいた際は、<br />
        公開を停止いたします。
      </p>

      <p style="margin-top: 20px">
        <a href="/">← トップに戻る</a>
      </p>
    </div>
  </body>
</html>
